<p>binding works!</p>

<div class="container p-3 my-3 border">
    <div class="card">
        <div class="card-header">
<h1>{{title}}</h1>
</div>
</div>
</div>
<div>
    Student Number: {{sno}}<br>
    Student Name  : {{sname}}<br>
    Student Address :{{sadd}}
</div>
<hr>
<button (click)="handleMe()">ClickeMe</button>
<div>
    Student Number: {{sno}}<br>
    Student Name  : {{sname}}<br>
    Student Address :{{sadd}}
</div>


<!-- Property Binding 
Generally we used Non-String value

Property Binding is used when you have to set
 an element property to a non-string data value.

eg:1
-->
<div>
<h3>Student Number : </h3><h3 [innerHtml]='sno'></h3>
    <h3>Student Name : </h3><h3 [innerHtml]='sname'></h3>

    
</div>

<!--

    eg:2 Property Binding
-->
<hr>
<button [disabled]='isDisabled'> DisabledMe</button>

<hr>
<!--
Angular facilitates us to bind the events along with the 
methods. 
This process is known as event binding.
 Event binding is used with parenthesis ().

-->

<button [disabled]='isDisabled' (click)='handleMe()'> DisabledMe</button>













